<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/gru_pet_lume"
        android:roundIcon="@drawable/gru_pet_lume"
        android:label="@string/gru__app_name"
        android:enableOnBackInvokedCallback="true"
        android:supportsRtl="true"
        android:theme="@style/FlorisAppTheme"
        android:usesCleartextTraffic="false"
        tools:targetApi="tiramisu">

        <activity
            android:name="dev.patrickgold.florisboard.gru.GruActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/FlorisAppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="dev.patrickgold.florisboard.dictate.overlay.DictateAccessibilityService"
            android:label="@string/gru__accessibility_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:foregroundServiceType="microphone"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

    </application>
</manifest>
